body{
    background-color: #333;
    color: #eee;
    text-align: center;
}
.area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.container{
    border: 1px solid #bbb;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    background: white;
}

.user-input {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.slider {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    align-items: center;
}

.grid {
    border: 1px solid #bbb;
    box-sizing: border-box;
}