body{
    background-color: #333;
    color: #eee;
    text-align: center;
}
.area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.pen-input, .grid-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.pen-color, .pen-tools, .grid-tools, 
.col-picker, .background-col-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-picker, .background-col-picker {
    margin: 5px;
    width: 100px;
}

.color-label {
    padding-bottom: 5px;
}

.color-input {
    width: 100%
}

button {
    display: block;
    width: 100px;
    margin: 5px;

}

.container{
    border: 1px solid #bbb;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    background: white;
}

.slider {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    align-items: center;
}

.range-knob {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #111;
    cursor: pointer;
    background: #bbb;
    box-shadow: 1px 2px 10px 1px #555;
}

.range-knotch {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: #111;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid {
    box-sizing: border-box;
}

.grid-on {
    border: 1px solid #bbb;
}

.grid-off {
    border: none;
}